.about-section {
    width: 100%;
    color: #fff;
    padding: 2% 4%;
    text-align: left;
}

.about-section h2 {
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 10px;
    color: #fff;
}



/* Mobile Phones Screen Width */

@media (max-width: 576px) {
    .about-section {
        margin-top: 10%;
        padding: 9%;
    }
}

/* Tablets Screen Width */

@media (min-width: 577px) and (max-width: 768px) {

    .about-section {
        margin-top: 10%;
        padding: 6%;
    }

}




/* Tablet & small laptop (769px–1200px) */
@media (min-width: 769px) and (max-width: 1200px) {
    .about-section{
        margin-top: 10%;
    }
    .about-section h2 {
        font-size: 30px; 
    }
}

/* Large desktop (1201px and above) */
/* @media (min-width: 1201px) {
    .about-section h2 {
        font-size: 40px; 
    }
} */
