.internship-container {
    margin-top: 90px;
    padding-left: 30px;
    padding-top: 60px;
    color: #f7db3b;
    position: relative;
    margin-bottom: 80px;
}

.internship-heading {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.internship-icon {
    background-color: #292927;
    padding: 6px;
    border-radius: 3px;
    box-shadow: 0px 0px 1px 1px #8a8584;
    margin-right: 10px;
}

.internship-title {
    color: #fff;
    margin: 0;
}

.internship-content {
    position: absolute;
    top: 0px;
    left: 40px;
}

.internship-content h5 {
    margin: 0;
    font-size: 18px;
}

.internship-desc {
    margin-top: 5px;
    color: #bdbcb9;
    font-size: 15px;
    line-height: 1.5;
}

.vertical-line.medium {
    height: 75px;
    margin-bottom: 10px;
}











/* Mobile Phones Screen Width */

@media (max-width: 576px) {

    .internship-container {
        margin-top: 150px;
        margin-bottom: 150px;
    }

    .vertical-line.medium {
        height: 140px;
    }

}



/* Tablet Screen Width */

@media (min-width:577px) and (max-width: 768px) {

    .internship-container {
        margin-top: 150px;
        margin-bottom: 150px;
    }

    .vertical-line.medium {
        height: 140px;
    }

}





/* 💻 Small laptops (769px – 1200px) */
@media (min-width: 769px) and (max-width: 1200px) {
    .internship-container {
        margin-top: 130px;
        margin-bottom: 120px;
    }

    .vertical-line{
        height: 140px;
    }

    .vertical-line.medium {
        height: 100px;
    }
}






/* 🖥️ Large desktops (1201px and up) */


/* @media (min-width: 1201px) {
    .internship-container {
        margin-top: 150px;
        margin-bottom: 150px;
    }

    .vertical-line.medium {
        height: 140px;
    }
} */