.icon-social {
    display: flex;
    gap: 15px;
    width: 50%; 
}
.icon-social a {
    font-size: 17px;
    color: #ffe8aa;
    text-decoration: none;
}

.icon-social a:hover {
    color: #ffe81c;
    transform: scale(1.3);
}